body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #F9FAF8;
}

.style-dark {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

.style-light {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #F9FAF8;
}

.style-quote {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #E5E7EB;
}

.content {
    width: 60%;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
}

#logo {
    font-weight: bold;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #F9FAF8;
    padding: 0 0.5em;
}

.navbar a:hover {
    color: cadetblue;
}

.section1 {
    height: 25em;
    width: 100%;
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.left {
    flex: 1 1 auto;
}

.right {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: auto;
}

.right img {
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: #3772f6;
    color:#F9FAF8;
    border-radius: 0.3em;
    border-style: none;
    width: 6em;
    height: 2em;
}

.section2 {
    background-color: #F9FAF8;
    width: 100%;
    height: 20em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.illustration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 7em; */
    word-wrap: break-word;
}

.element p {
    font-size: 12px;
    text-align: center;
    text-wrap: wrap;
}

.rect {
    margin: auto;
    width: 7em;
    height: 7em;
    border: solid 3px #3772f6;
    border-radius: 10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.quote-author {
    font-weight: bold;
    text-align: end;
}

.call-to-action {
    margin: 3em 0em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3772f6;
    border-radius: 10px;
}

.text-action {
    color:#F9FAF8
}

.button-action button{
    border-color: #F9FAF8;

    border: 1px solid;
}

#foot {
    font-size: 15px;
    font-weight: light;
    color: #E5E7EB;
}